@font-face {
    font-family: 'Raleway';
    src: url(font-path('raleway_thin-webfont.eot'));
    src: url(font-path('raleway_thin-webfont.eot')+'?#iefix') format('embedded-opentype'),
         url(font-path('raleway_thin-webfont.woff')) format('woff'),
         url(font-path('raleway_thin-webfont.ttf')) format('truetype'),
         url(font-path('raleway_thin-webfont.svg')+'#raleway') format('svg');
    font-weight: normal;
    font-style: normal;
}