@font-face {
    font-family: 'Junction';
    src: url(font-path('Junction-webfont.eot'));
    src: url(font-path('Junction-webfont.eot')+'?#iefix') format('embedded-opentype'),
         url(font-path('Junction-webfont.woff')) format('woff'),
         url(font-path('Junction-webfont.ttf')) format('truetype'),
         url(font-path('Junction-webfont.svg')+'#junction') format('svg');
    font-weight: normal;
    font-style: normal;
}