@font-face {
    font-family: 'Sniglet';
    src: url(font-path('Sniglet-webfont.eot'));
    src: url(font-path('Sniglet-webfont.eot')+'?#iefix') format('embedded-opentype'),
         url(font-path('Sniglet-webfont.woff')) format('woff'),
         url(font-path('Sniglet-webfont.ttf')) format('truetype'),
         url(font-path('Sniglet-webfont.svg')+'#sniglet') format('svg');
    font-weight: normal;
    font-style: normal;
}