@font-face {
    font-family: 'League Script Number One';
    src: url(font-path('LeagueScriptNumberOne-webfont.eot'));
    src: url(font-path('LeagueScriptNumberOne-webfont.eot')+'?#iefix') format('embedded-opentype'),
         url(font-path('LeagueScriptNumberOne-webfont.woff')) format('woff'),
         url(font-path('LeagueScriptNumberOne-webfont.ttf')) format('truetype'),
         url(font-path('LeagueScriptNumberOne-webfont.svg')+'#LeagueScriptNumberOne') format('svg');
    font-weight: normal;
    font-style: normal;
}